﻿@model Nwd.BackOffice.Model.Track

@{
    string prefixe = "Tracks[" + ViewBag.TrackNumber + "]";
    string prefixeFile = prefixe + ".File";
    ViewBag.TrackNumber = ViewBag.TrackNumber + 1;
}

<hr />
<div class="form-group">
    <p class="col-md-2 control-label" style="font-weight:bold;">Song Title</p>
    <div class="col-md-10">
        @{Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = prefixe;}
        @Html.TextBoxFor(m => m.Song.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Song.Name)
    </div>
</div>
   <div class="form-group">
       <p class="col-md-2 control-label" style="font-weight:bold;">Song Duration</p>
       <div class="col-md-10">
           @{Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = prefixe;}
           @Html.TextBoxFor(m => m.Duration, new { @class = "form-control" })
           @Html.ValidationMessageFor(model => model.Duration)
       </div>
</div>
    <div class="form-group">
        <p class="col-md-2 control-label" style="font-weight:bold;">Song File</p>
        <div class="col-md-10">
            <input type="file" name="@prefixeFile" id="File" style="margin-top:5px" />
        </div>
</div>
