﻿@model Nwd.BackOffice.Model.Album
@{
    ViewBag.Title = "Create";
}

<h2>Create a new album</h2>

@using (Html.BeginForm("Create", "Album", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary()
    <p class="error">@ViewBag.Error</p>
    
    <div class="form-group">
        <p class="col-md-2 control-label" style="font-weight:bold;">Artist</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Artist.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Artist.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Type)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Duration, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>
    </div>
    <div class="form-group">
        <p class="col-md-2 control-label" style="font-weight:bold;">Release Date</p>
        <div class="col-md-10">
            @Html.EditorFor(m => m.ReleaseDate)
            @Html.ValidationMessageFor(model => model.ReleaseDate)
        </div>
    </div>
    <div class="form-group">
        <p class="col-md-2 control-label" style="font-weight:bold;">Album Cover</p>
        <div class="col-md-10">
            <input type="file" name="CoverFile" id="CoverFile" />
        </div>
    </div>
    <div id="editorTrack">
        @foreach(var track in Model.Tracks)
        {
            Html.RenderPartial("_CreateTrack", track);
        }
    </div>
   <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Add another...", "BlankEditorTrack", null, new { id = "addTrack" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Create" />
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">

        var count = @ViewBag.TrackNumber;

        $("#addTrack").click(function () {

            $.ajax({
                url: this.href,
                data: { index: (count ++)},
                cache: false,
                success: function (html) { $("#editorTrack").append(html); }
            });
            return false;
        });
    </script>
}