﻿@model Nwd.BackOffice.Model.Album

@{
    ViewBag.Title = "Details de l'album";
}

<h2>Album</h2>

<div>
    <p> @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | @Html.ActionLink("Delete", "Delete", new { id = Model.Id })</p>  
	
    <table>
        <tr>
            <td>
                <img src=@Html.DisplayFor(model => model.CoverImagePath) width="120" height="120" />
            </td>
            <td> 
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Duration)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Duration)
                    </dd>

                    <dt>
                        Release Date
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ReleaseDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Type)
                    </dd>

                    <dt>
                        Artist
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Artist.Name)
                    </dd>

                </dl>
            </td>          
        </tr>                
    </table>
 
    

    <hr />
    <h4>TrackList</h4> 
    
    <table class="table">
        @foreach(var item in Model.Tracks)
        {
            <tr>
                <th>
                    Id
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.Song.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.Duration)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Song_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Song.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>         
            </tr>
        }
    </table>

</div>
<p> @Html.ActionLink("Back to the list", "List") </p>
