﻿@model IEnumerable<Nwd.BackOffice.Model.Album>

@{
    ViewBag.Title = "Albums List";
}
<hr />
<h2>Albums list</h2>

<p>
    @Html.ActionLink("Create an album", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            Release Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            Album Cover
        </th>
        <th>
            Artist
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            <img src=@Html.DisplayFor(modelItem => item.CoverImagePath) width="100" height="100" />
        </td>
        
        <td>
             @Html.DisplayFor(modelItem => item.Artist.Name)
           
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 
        </td>
    </tr>
}

</table>
